---
layout: default
---

<div class="home">

  <h2 class="intro">Hello, I’m Andrew, a Product Designer from the SF Bay Area. I’m currently simplifying the home design experience at <a href="www.houzz.com">Houzz</a>.</h2>

  <!-- <p class="tag">What I do: UI / UX / Information Architecture / Design Systems / Prototyping / Mobile / and more...</p> -->

  <h1 class="page-heading" id="case-studies">/CASE STUDIES</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
