---
layout: default
---

<div class="home">

  <h3 class="intro">Hello, I’m Andrew, a Product Designer from the SF Bay Area. I’m currently simplifying the home design experience at <a href="www.houzz.com">Houzz</a>.</h3>

  <!-- <p class="tag">What I do: UI / UX / Information Architecture / Design Systems / Prototyping / Mobile / and more...</p> -->

  <h2 class="page-heading" id="case-studies">/Case Studies</h2>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="case-study">
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        <div class="post-image"></div>
        <div class=labeling>
          <div class="number-left">
            <div class="number">{{ post.number }}</div>
          </div>
          <div class="labels-right">
            <div class="case-study-time">{{ post.time }}</div>
            <div class="post-type">{{ post.type }}</div>
          </div>
        </div>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>
      </li>
    {% endfor %}
  </ul>

  <h2 class="page-heading" id="about">/About</h2>

  <h2>{{ site.title | escape }}</h2>

</div>
