---
layout: default
---

<div class="home">

  <h3 class="intro">Hello, I’m Andrew, a Product Designer from the SF Bay Area. I’m currently simplifying the home design experience at <a href="www.houzz.com">Houzz</a>.</h3>

  <!-- <p class="tag">What I do: UI / UX / Information Architecture / Design Systems / Prototyping / Mobile / and more...</p> -->

  <h1 class="page-heading" id="case-studies">/Case Studies</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="case-study">
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        <div class="post-image"></div>
        <div class="numbering"><h4>0{{ post.number }}.</h4></div>
        <div  class="labels"><h4 class="category">{{ post.categories }}</h4></div>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
